@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ff0043;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #ff0043;
  background: white;
  border-radius: 30px;
}

.animate {
  opacity: 0;
}

.from-left {
  transform: translateX(-10%);
}

.from-right {
  transform: translateX(10%);
}

.from-bottom.show {
  opacity: 1;
  animation-name: wipe-enter;
  animation-duration: 2s;
}

@keyframes wipe-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show {
  transition: all 1s;
  transform: translate(0);
  opacity: 1;
}